venv/

__pycache__/
*.py[cod]
*$py.class

# Ignore all files in .idea folder
.idea/*

# Except for these specific files
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml